/* Background */
body {
    background-color: #001b2f;
}

/* Background Image */
.backgroundImage {
    /* width: 960px;
    */
    width: 1180px;

    border: 4px solid #ffffff;

    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-590px, 0px);
}

/* ---------------------------------------- */
/* GAME CONTAINER */

/* Game Outer Container */
.gameOuterContainer {
    width: 490px;
    height: 325px;

    padding: 10px;
    border: 4px solid red;
    border-radius: 30px;
    margin: 0px;

    background-color: #ffffff;

    opacity: 0.95;

    font-family: 'Contrail One', cursive;
    line-height: 1.18;

    position: fixed;
    top: 236px;
    left: 50%;
    transform: translate(-281px, 0px);

}

.header {
    padding: 0;
    border: 0;
    margin: 10px 0px 0px 0px;

    text-align: center;
    color: red;
    font-weight: 700;
    font-size: 18px;

    position: relative;
    top: 0px;
}

/* Game Inner Container */
.gameInnerContainer {
    padding: 0;
    border: 0;
    margin: 0;

    text-align: center;

    position: relative;
    top: 20px;
}

#question {
    color: #00b4d9;
    font-weight: 700;
    font-size: 18px;
}

#correctLettersContainer {
    font-size: 24px;
}

#playAgainBtn {
    padding: 2px 20px 1px 20px;
    border: 0;
    border-radius: 5px;
    margin: 10px 0px 0px 0px;

    background-color: #4CAF50;

    color: white;
    font-family: 'Contrail One', cursive;
    font-size: 16px;
    text-align: center;
    text-decoration: none;

    cursor: pointer;
    outline: 0;

    display: inline-block;
}

/* Hover over Play Again Button */
#playAgainBtn:hover {
    background-color: #00b4d9;
}